body{
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 40px;
}

h2{
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(even){
    background-color: #dddddd;
}

h3{
    text-align: center;
    margin-top: 30px;
}
